{% extends "base.html" %}

{% block title %}Administrator{% endblock title %}
{% block content %}
<form class="form-inline well" method="POST">
			{{ form.hidden_tag() }}
			{{ form.user_edit(placeholder='Username To Delete', autocomplete="off") }}
			<input type="submit" class="btn btn-success pull-right" value="Delete User">
</form>






<table class="table">
		<thead>
			<tr>
				<th>Users</th>
				<th>Date Created</th>
			</tr>
		</thead>
		<tbody>
			{% for user,data in users.iteritems() %}
				<tr>
					<td>{{user}}</td>
					<td>{{data}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}

{% block sidebar %}

{% endblock sidebar %}
